@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* added font style */
.roboto {
  font-family: "Roboto", sans-serif;
}
.babes {
  font-family: "Bebas Neue", cursive;
}
/* added menu tex-color */
.menu-color {
  color: #3c3c3c;
  font-weight: 500;
  margin-right: 40px;
}
/* added banner heading text */
.b-heading {
  color: #fabe4c;
}
/* aded penguin tag color */
.paragraph {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #3e3e3e;
}
/* added button */
.penguin-btn {
  background-image: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
  color: #fff;
  padding: 8px 23px;
  border-radius: 10px;
}
.penguin-btn:hover {
  background-color: #a4bc46;
  color: #fff;
}
/* added card img bg */
.card-img-bg {
  background-color: #f1f1f1;
}
.shoping {
  margin-top: 106px;
}
